


<div id="example1" class="putInCenter"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script type="text/javascript" >

  const scrollRotationFactor = 0.7;
  const rotateSpeed = 0.2;

  const objWidth = 664;
  const objHeight = 300;

  var scene = new THREE.Scene();
  var camera = new THREE.PerspectiveCamera( 30, objWidth/objHeight, 0.1, 1000 );

  var renderer = new THREE.WebGLRenderer({
    antialias: true,
    alpha: true,
  });
  renderer.setSize( objWidth, objHeight );
  renderer.shadowMap.enabled = true;
  renderer.shadowMap.type = THREE.PCFSoftShadowMap;

  let rotationX = 0;

  let threeInit = () => {

    let el = document.querySelector('#example1');

    el.appendChild( renderer.domElement );

    var geometry = new THREE.BoxGeometry();
    // var material = new THREE.MeshPhongMaterial( {
    //   color: 0xffffff,
    //   refractionRatio: 0.8,
    //   opacity: 0.8
    // } );

    //scene.background = new THREE.TextureLoader().load( 'assets/cube-bg.png' );
    scene.background = new THREE.CubeTextureLoader()
          .setPath( '/assets/' )
          .load( [ 'truth-square.jpg', 'truth-square.jpg', 'truth-square.jpg', 'truth-square.jpg', 'truth-square.jpg', 'truth-square.jpg' ] );


    var material = new THREE.MeshPhongMaterial( {
      color: 0xFFFFFF,
      envMap: scene.background,
      refractionRatio: 1.1,
      // opacity: 0.9
    } );
    material.envMap.mapping = THREE.CubeRefractionMapping;

    var cube = new THREE.Mesh( geometry, material );
    cube.receiveShadow = true;
    cube.castShadow = true;

    scene.add( cube );

    camera.position.z = 5;

    var ambient = new THREE.AmbientLight( 0xffffff, 0.3 );
    scene.add( ambient );

    var light = new THREE.DirectionalLight( 0xffffff, 1, 100 );
    light.position.set( -5, 10, 10 );
    light.castShadow = true;
    scene.add( light );

    var animate = function () {
      requestAnimationFrame( animate );
      cube.rotation.y += 0.01 * rotateSpeed;
      cube.rotation.x = rotationX;
      renderer.render( scene, camera );
    };
    animate();
  }


  window.addEventListener('scroll', function(e) {
    let bounding = renderer.domElement.getBoundingClientRect();
    rotationX = scrollRotationFactor * bounding.top / window.innerHeight;
  });

  document.addEventListener("DOMContentLoaded", function(){
    threeInit();
  });

</script>
