---
---

@import "reset";
@import "variables";

* {
	position: relative;
  box-sizing: border-box;
}

::selection {
  color: $color-bg;
  background: $color-font-reg;
}

html,
body {
  font-size: 100%;
  font-family: $font-regular;
  color: $color-font-reg;
  font-size: 16px;
  line-height: 1.8;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px $color-font-light;
}
a:hover {
  border-color: $color-font-med-dark;
}
p + p {
  margin-top: $grid * 2;
  // text-indent: $grid * 2;
}

// page title
h1 {
  font-size: 32px;
  a {
    border: none;
  }
}
// blog title
h2 {
  font-size: 24px;
  a {
    border: none;
  }
}
h3 {
  font-weight: 600;
  margin-top: $grid*2;
  margin-bottom: $grid;
}
h4 {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: $color-font-med;
  margin-top: $grid*3;
  margin-bottom: $grid;
}
ul {
  list-style: disc;
  padding-left: $grid*3;
  margin: $grid*3 0;
}
ul li + li {
  margin-top: $grid;
}

ol {
  list-style: decimal;
  padding-left: $grid*3;
  margin: $grid*3 0;
}
ol li + li {
  margin-top: $grid;
}

hr {
  border: none;
  margin: $grid*6 0;
  width: $grid*10;
  height: 1px;
  background: $color-font-light;
}

// date
.date {
  color: $color-font-med;
  font-family: $font-mono;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: $grid*3;
}

img,
iframe,
.putInCenter {
  display: block;
  max-width: calc( 100vw - #{$grid*2} );
  left: 50%;
  transform: translateX(-50%);
  margin: $grid*3 0;
  overflow-x: hidden;

  canvas {
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (max-width: $max-width) {
    max-width: calc( 100vw - #{$grid*2} ) !important;
  }
}
.twitter-tweet {
  display: flex;
  max-width: 550px;
  width: 100% !important;
  margin: $grid*3 0 $grid*2 50% !important;
}

.smallImagesWidth img {
  width: calc( 100vw - #{$grid*2} );
  max-width: 500px;
}

// image caption
img + strong {
  display: block;
  max-width: 500px;
  margin: $grid*-2 auto $grid*5 auto;
  font-family: $font-mono;
  font-size: 12px;
  font-weight: normal;
  color: $color-font-med;
  transition: color 0.3s;
}
img:hover + strong,
img + strong:hover {
  color: $color-font-reg;
}

#wrapper {
  width: 100vw;
  max-width: $max-width;
  margin: auto;
  padding: $grid;
}

header {
  padding-top: $grid*5;
  padding-bottom: $grid*2;
  display: flex;
  justify-content: space-between;
  color: $color-font-med;
  font-size: 13px;
}
header a {
  border: none;
}
header a:hover {
  color: $color-font-reg;
}

.content {

}

.post {
  padding: $grid*5 0;
}

sup {

}
sup a {
  text-decoration: none;
  font-family: $font-mono;
  font-size: 11px;
  font-weight: 700;
  border: none;
}

.footnotes {
  border-top: solid 1px $color-font-light;
  margin-top: $grid*3;
  padding-top: $grid*2;
}
.footnotes ol {
  list-style: decimal;
  font-family: $font-mono;
  font-size: 11px;
  padding-left: $grid*3;
  color: $color-font-med;
}
.footnotes ol a:hover {
  color: $color-font-reg;
}

footer {
  padding: $grid*5 0;
  font-family: $font-mono;
  font-size: 11px;
}

.shortDesc {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.8;
  padding: $grid * 4 0;
}

@import "specials";
@import "highlights"
