

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Colors
$color-bg: #FFF;

$color-font-reg: #191a1c;
$color-font-med-dark: lighten( $color-font-reg, 40% );
$color-font-med: lighten( $color-font-reg, 50% );
$color-font-light: lighten( $color-font-reg, 70% );

// Sizes
$grid: 8px;

$max-width: 680px;

// Fonts
$font-regular: 'IBM Plex Sans', sans-serif;
$font-mono: 'Space Mono', monospace;;
