<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}
    </title>

    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  </head>

  <body>

    <div id="wrapper">

      <header>
        <div class="site-name">
          <a href="{{ site.baseurl }}/">Major Studio 1 Blog</a>
        </div>
      </header>

      <div role="main" class="content">
        {{ content }}
      </div>

      <footer>
        2020 — <a href="https://github.com/olivierbrcknr/mfadt-ms1-blog">GitHub Repository</a> — <a href="https://olivierbrueckner.de">Olivier Brückner</a>
      </footer>

    </div>

  </body>
</html>
