<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}
    </title>

    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ site.baseurl }}/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <script type="text/javascript" src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/OBJLoader.js"></script>


    <script type="text/javascript" src="{{ site.baseurl }}/default.js"></script>

  </head>

  <body>

    <div id="wrapper">

      <header>
        <div class="site-name">
          <a href="{{ site.baseurl }}/">Major Studio 1 — Blog</a>
        </div>
        <div class="student-name">
          <a href="https://olivierbrueckner.de/">
            Olivier Brückner
          </a>
        </div>
      </header>

      <div role="main" class="content">
        {{ content }}
      </div>

      <footer>
        2020 — <a href="https://github.com/olivierbrcknr/mfadt-ms1-blog">GitHub Repository</a> — <a href="https://olivierbrueckner.de">Olivier Brückner</a>
      </footer>

    </div>

  </body>
</html>
