<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}
    </title>

    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  </head>

  <body>

    <div id="wrapper">

      <header>
        <h1 class="site-name">
          <a href="{{ site.baseurl }}/">{{ site.name }}</a>
        </h1>
      </header>

      <div role="main" class="content">
        {{ content }}
      </div>

      <footer>
        &copy; 2020
      </footer>

    </div>

  </body>
</html>
